@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";


/* Root Colors */
:root {
  --background: #ffffff;
  --foreground: #ffffff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #f1f5f9;
  }
}

/* Default page container */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;           
  box-sizing: border-box;
}

/* Optional reusable inner container */
.inner-width-section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* Full width breakout (works inside constrained layout) */
.full-width-section {
  width: 100vw !important;
  max-width: 100vw !important;
  
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Scrollbar Styling */
.custom-scrollbar {
  --scrollbar-width: 4px;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #e4e3e3;
  --scrollbar-thumb-hover: #e4e3e3;
  --scrollbar-min-height: 30px;
  --scrollbar-border-radius: 10px;
  --scrollbar-track-margin: 4px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-border-radius);
  margin: var(--scrollbar-track-margin) 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-border-radius);
  min-height: var(--scrollbar-min-height);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.custom-scrollbar::-webkit-scrollbar-track:horizontal {
  margin: 0 var(--scrollbar-track-margin);
}

.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-min-height);
}
